* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: "MyFont";
  src: local("Tanseek Modern Pro Arabic"),
    url(./mbc-arabic-font.ttf) format("woff");
}
p
html,
body {
  background-color: #eee;
  direction: rtl !important; /* يجعل كل المحتوى يبدأ من اليمين */
  text-align: right !important; 
}

a {
  text-decoration: none;
  height: 51px;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #114f80;
  font-size: 25px;
  font-family: Tanseek Modern Pro Arabic;
}

.active {
  background-color: #114f80 !important;
  color: #fff !important;
  border-radius: 8px;
}
