* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: "Tanseek Modern Pro Arabic";
  src: local("Tanseek Modern Pro Arabic"),
    url(./mbc-arabic-font.ttf) format("woff");
}

@font-face {
  font-family: "Titillium Web";
  src: url("./TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./TitilliumWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("./Inter-VariableFont_opsz,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Sora";
  src: url("./sora/Sora-VariableFont_wght.ttf") format("truetype");
}

p html,
body {
  background-color: #eee;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  height: 51px;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #114f80;
  font-size: 22px;
  font-family: Tanseek Modern Pro Arabic;
}

.hover-link:hover {
  transform: scale(1.15);
  background: linear-gradient(90deg, #f9d053 0%, #937b31 100%);
  width: 200px;
  margin: 10px auto;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  transition: 400ms all;
}


a:hover{
  background-color:#114F80;
  color:#fff;
  border-radius: 10px;
  transition:400ms all;
}
@media only screen and (max-width: 600px) {
  a {
    font-size: 18px;
    font-weight: 500;
  }
}

.active {
  background-color: #114f80 !important;
  color: #fff !important;
  border-radius: 8px;
}

.active-group {
  background: linear-gradient(90deg, #f9d053 0%, #937b31 100%);
  transform: scale(1.1);
  transition: 500ms all;
  color: white;
  border: none !important;
}

.active-option {
  background: linear-gradient(90deg, #f9d053 0%, #937b31 100%);
  transform: scale(1.1);
  transition: 500ms all;
  color: white;
  border: none !important;
}

.text-gradient {
  background: linear-gradient(90deg, #f9d053 0%, #937b31 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
