* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: "Tanseek Modern Pro Arabic";
  src: local("Tanseek Modern Pro Arabic"),
    url(./mbc-arabic-font.ttf) format("woff");
}


@font-face {
  font-family: "Titillium Web";
  src: url("./TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./TitilliumWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("./Inter-VariableFont_opsz,wght.ttf") format("truetype");

}
@font-face {
  font-family: "Sora";
  src: url("./sora/Sora-VariableFont_wght.ttf") format("truetype");

}

p
html,
body {
  background-color: #eee;
  direction: rtl !important; /* يجعل كل المحتوى يبدأ من اليمين */
  text-align: right !important; 
}

a {
  text-decoration: none;
  height: 51px;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #114f80;
  font-size: 25px;
  font-family: Tanseek Modern Pro Arabic;
}

.active {
  background-color: #114f80 !important;
  color: #fff !important;
  border-radius: 8px;
}
